<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolicitacaoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49887/SolicitacaoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitacaoService"
                contract="SolicitacaoServiceReference.ISolicitacaoService"
                name="BasicHttpBinding_ISolicitacaoService" />
        </client>
    </system.serviceModel>
</configuration>